<h1>This is about me </h1>
<p>also you can my photo here</p>
<%= image_tag("http://media.gettyimages.com/videos/little-girl-swimming-underwater-in-swimming-pool-video-id491004802?s=640x640",  alt: "like", class: 'img-responsive' ) %>
